<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FPMI 2nd course</title>
    <meta name="description"
          content="general information page for 2nd course of fpmi2013 site + links to education lectures, tasks, examples">

    <link rel="stylesheet" href="../../css/main.css" id="theme">

</head>

<body>

<header></header>

<div class="container">

    <nav id="main" class="clearfix">
        <div>
            <ul id="menu">
                <li class="menu-item active"><a href="">Info</a>
                <li class="menu-item"><a href="lectures.html">Lectures</a>
            </ul>
        </div>
    </nav>

    <div class="content clearfix">
        <ol>
            <li>Белоус Дмитрий Олегович - 7 группа</li>
            <li>Дроздов Игорь Викторович - 8 группа</li>
            <li>Акулич Тимофей Валентинович - 6 группа</li>
            <li>Болтач Вадим Юрьевич - 7 группа</li>
            <li>Сечко Артур Юрьевич - 7 группа</li>
            <li>Митрофанов Павел Петрович - 3 группа</li>
            <li>Зеленькова Ольга Михайловна - 7 группа</li>
            <li>Медведь Евгений Александрович - 5 группа</li>
            <li>Абрамов Владислав Андреевич - 1 группа</li>
            <li>Коляго Иван Михайлович - 9 группа</li>
            <li>Горбач Евгений Сергеевич - 6 группа</li>
            <li>Никитенок Никита Михайлович - 4 группа</li>
            <li>Белоусова Александра Андреевна - 7 группа</li>
            <li>Забавская Алина Юрьевна - 3 группа</li>
            <li>Андреев Александр Сергеевич - 9 группа</li>
            <li>Черныш Михаил Дмитриевич - 9 группа</li>
            <li>Пилипейко Максим Юрьевич - 7 группа</li>
            <li>Хвистик Вадим Александрович - 3 группа</li>
            <li>Бирук Андрей Владимирович - 3 группа</li>
            <li>Пузырный Сергей Игоревич - 5 группа</li>
            <li>Мишук Алексей Вячеславович - 5 группа</li>
            <li>Воронов Андрей Николаевич - 7 группа</li>
            <li>Пикулин Алексей Владимирович - 7 группа</li>
            <li>Крыштон Виктория Олеговна - 6 группа</li>
            <li>Быковский Александр Александрович - 7 группа</li>
            <li>Даник Наталия Олеговна - 7 группа</li>
            <li>Дусь Д.Д. - 4 группа</li>
            <li>Казачёнок Дмитрий Вадимович - 7 группа</li>
        </ol>

    </div>
</div>

<footer></footer>

</body>
</html>

