<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FPMI 2rd course lectures</title>
    <meta name="description" content="fpmi2013 2rd course lecture's list">

    <link rel="stylesheet" href="../../css/main.css" id="theme">

</head>

<body>

<div class="container">

    <header></header>

    <div class="content-wrapper">
        <nav id="top" class="clearfix">
            <ul id="menu">
                <li class="menu-item"><a href="info.html">Info</a>
                <li class="menu-item active"><a href="lectures.html">Lectures</a>
                <li class="menu-item"><a href="web-tasks.html">Web Tasks</a>
            </ul>
        </nav>
        <div class="content clearfix">
            <ol>
                <li>
                    <a href="/lectures/2nd%20course/collections.html">Collections</a>
                </li>
                <li>
                    <a href="/lectures/2nd%20course/io-streams.html">IO streams</a>
                </li>
                <li>
                    <a href="/lectures/2nd%20course/networking.html">Networking</a>
                </li>
                <li>
                    <a href="/lectures/2nd%20course/application-configuration.html">Application Configuration</a>
                </li>
                <li>
                    <a href="/lectures/2nd%20course/clean-code.html">Clean code</a>
                </li>
                <li>
                    <a href="/lectures/2nd%20course/software-design.html">Software Design</a>
                </li>
                <li>
                    <a href="/lectures/2nd%20course/web-part-1.html">Web. Part 1</a>
                </li>
            </ol>
        </div>
    </div>

    <footer></footer>

</div>

</body>
</html>
