<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FPMI 2rd course web tasks</title>
    <meta name="description"
          content="general information page for 2rd course of fpmi2013 site + links to education lectures, tasks, examples">

    <link rel="stylesheet" href="../../css/main.css" id="theme">

</head>

<body>

<div class="container">

    <header></header>

    <div class="content-wrapper">
        <nav id="top" class="clearfix">
            <ul id="menu">
                <li class="menu-item"><a href="info.html">Info</a>
                <li class="menu-item"><a href="lectures.html">Lectures</a>
                <li class="menu-item active"><a href="">Web Tasks</a>
            </ul>
        </nav>
        <div class="content clearfix">
            
        </div>
    </div>
    <footer></footer>

</div>

</body>
</html>