<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FPMI 2rd course web tasks</title>
    <meta name="description"
          content="general information page for 2rd course of fpmi2013 site + links to education lectures, tasks, examples">

    <link rel="stylesheet" href="../../css/main.css" id="theme">

</head>

<body>

<div class="container">

    <header></header>

    <div class="content-wrapper">
        <nav id="top" class="clearfix">
            <ul id="menu">
                <li class="menu-item"><a href="info.html">Info</a>
                <li class="menu-item"><a href="lectures.html">Lectures</a>
                <li class="menu-item active"><a href="">Web Tasks</a>
            </ul>
        </nav>
        <div class="content clearfix">
            <h2>Общие рекомендации/требования к заданиям</h2>
            <ol>
                <li>
                    В качестве сервера рекомендуется использовать Tomcat 7
                </li>
                <li>
                    Все сообщения пользователю, надписи и др. должны быть локализуемыми, например используя properties файлы.
                </li>
                <li>
                    Для хранения данных можно использовать xml. Для работы с xml можно использовать jaxb
                    <ul>
                        <li>http://www.mkyong.com/java/jaxb-hello-world-example/ - простые и понятные примеры</li>
                        <li>https://jaxb.java.net/tutorial - исчерпывающий tutorial</li>
                    </ul>
                </li>
                <li>
                    Чистота вашего кода и хорошее проектирование будут значительно влиять на процесс оценки приложения
                </li>
            </ol>

            <h1>Задание 1. "Web Файлообменник"</h1>
            Требуется создать web приложение(Serlvet/JSP) для обмена файлами (простая версия https://rapidshare.com/ ).
            Приложение должно поддерживать следующие возможности:
            <ul>
                <li>Обычные пользователи
                <ol>
                    <li>Загружать файл(до 5 Mb) на сервер – сделать отдельную страничку, на которой имеются поля
                        ввода информации о файле(название, описание, автор, примечания). Предусмотреть проверку
                        корректности вводимых данных, т.е. все необходимые поля заполнены и т. д.  Если поля ввода
                        содержат некорректные  данные, то подсветить их красным цветом. После успешной загрузки файла
                        показать пользователю сообщение и ссылку на скачивание/удаление файла. Например:
                        <ul>
                            <li>http://localhost:8080/myapp/files/id12345</li>
                            <li>http://localhost:8080/myapp/files/id12345?op=remove&code=Sj34Z</li>
                        </ul>
                        <i>Параметр code является аналогом пароля подтверждающего правомерность удаления файла.</i>
                    </li>
                    <li>
                        Скачивать  файл по заданной ссылке в которой содержится идентификатор файла, например http://localhost:8080/myapp/files/id12345. Если идентификатор ошибочный - показать соответствующую страницу.
                    </li>
                    <li>
                        Удалять свои файлы используя ссылку, полученную при загрузке файла на сервер.
                    </li>
                    <li>
                        Просматривать список файлов, включая информацию о файле и его размер(предусмотреть отдельную странчку). Список файлов и их описания вывести в виде таблицы
                    </li>
                </ol>
                </li>
                <li>
                    Модераторы(требуется ввод логина-пароля для входа в систему)
                    <ol>
                        <li>Просматривать список файлов на сервере</li>
                        <li>Скачивать и загружать файлы как и другие пользователи</li>
                        <li>Удалять любой файл</li>
                    </ol>
                </li>

            </ul>
            <h1>Задание 2. "Телефонный справочник Web"</h1>
            Требуется создать web приложение(Serlvet/JSP) реализующее функцию хранения и поиска в телефонном справочнике.
            <br>Приложение должно поддерживать следующие возможности:
            <ol>
                <li>Обычные пользователи
                    <ul>
                        <li>
                            Просматривать список телефонов, включая ФИО и адрес(город, улица, дом, корпус, квартира). Данные вывести в виде таблицы.
                        </li>
                        <li>
                            Поиск в телефонной книге по номеру,части ФИО или адреса.
                        </li>
                    </ul>
                </li>
                <li>Модераторы(требуется ввод логина-пароля для входа в систему)
                    <ul>
                        <li>
                            Добавлять новые и редактировать существующие данные.
                        </li>
                        <li>
                            Удалять любой файл
                        </li>
                    </ul>
                </li>
            </ol>
            <h1>Задание 3. "Галерея картинок"</h1>
            Требуется создать web приложение(Serlvet/JSP) реализующее функцию хранения картинок(JPG,PNG).
            <br>Приложение должно поддерживать следующие возможности:
            <ul>
                <li>Обычные пользователи
                    <ol>
                        <li>Загружать файл(до 5 Mb) на сервер – сделать отдельную страничку, на которой имеются поля ввода информации о файле(название, описание, автор, теги примечания). Предусмотреть проверку корректности вводимых данных, т.е. все необходимые поля заполнены и т. д.  Если поля ввода содержат некорректные  данные, то подсветить их красным цветом. После успешной загрузки файла показать пользователю сообщение и ссылку на скачивание/удаление файла. Например:
                            <ul>
                                <li>http://localhost:8080/myapp/shared/img123</li>
                                <li>http://localhost:8080/myapp/shared/img123?op=remove&code=Sj34Z</li>
                            </ul>
                            <i>Параметр code является аналогом пароля подтверждающего правомерность удаления картинки.</i>
                        </li>
                        <li>
                            Просматривать изображение по заданной ссылке, в которой содержится идентификатор файла, например http://localhost:8080/myapp/shared/img123. Если идентификатор ошибочный - показать соответствующую страницу.
                        </li>
                        <li>
                            Просматривать детальную информацию об изображение по заданной ссылке, в которой содержится идентификатор файла, например http://localhost:8080/myapp/shared/img123/details. Если идентификатор ошибочный - показать соответствующую страницу. На данной странице показать уменьшенное изображение(например, 100 x 100) и информацию о картинке.
                        </li>
                        <li>
                            Удалять свои файлы используя ссылку, полученную при загрузке файла на сервер.
                        </li>
                        <li>
                            Просматривать список файлов, включая информацию о картинках и его размер(предусмотреть отдельную странчку). Список картинок вывести в виде таблицы состоящей из уменьшенных изображений(например, 100 x 100)
                        </li>
                    </ol>
                </li>
                <li>Модераторы (требуется ввод логина-пароля для входа в систему)
                    <ol>
                        <li>
                            Добавлять новые и редактировать существующие данные.
                        </li>
                        <li>
                            Удалять любой файл
                        </li>
                    </ol>
                </li>
            </ul>
            <p>
                Уменьшенные картинки должны создаваться приложением без участия пользователя. Для работы с изображениями можно использовать классы
                <ul>
                    <li>java.awt.image.BufferedImage</li>
                    <li>javax.imageio.ImageIO</li>
                </ul>
            </p>
            <h1>Задание 4. "График функции (Web)"</h1>
            Требуется создать web приложение(Serlvet/JSP) реализующее функцию построения графика функции y=f(x).
            <br>Пример http://www.wolframalpha.com/input/?i=plot+sin%281%2Bx%5E2%29
            <br>Приложение должно поддерживать следующие возможности:
            <ol>
                <li>
                    Ввод функции. Функция представляет собой аналитическое выражение состоящее из чисел, аргумента x, арифметических операций (+,-,*,/), возведения в степень, скобок, и не менее 5 простейших “встроенных” функций(например, sin, cos, exp, log, abs). При вводе некоректного значения приложение должно вывести сообщение пользователю.
                </li>
                <li>
                    Построение графика функции в виде картинки. Отобразить координатные оси и график функции разными цветами.
                </li>
                <li>
                    Выбор интервала для построения графика функции, при этом приложение должно корректно работать даже если в выбранном интервале есть точки, где функция не определена.
                </li>
                <li>
                    Предусмотреть историю вводимых функций(например список на странице).
                </li>
            </ol>
            <b>Note:</b>
            <ul>
                <li>Для вычисления значения функции можно использовать обратную польскую запись</li>
                <li>Для построениея графика функции как картинки на стороне сервера можно использовать следующие классы
                    <ul>
                        <li>java.awt.image.BufferedImage</li>
                        <li>javax.imageio.ImageIO</li>
                    </ul>
                </li>
            </ul>
            <h1>Задание 5.  "Каталог Библиотеки(Web)"</h1>
            Требуется создать web приложение(Serlvet/JSP) реализующее функцию каталога библиотеки.
            <br>Приложение должно содержать следующие страницы:
            <ol>
                <li>
                    Список книг – таблица содержащая информацию о книге(название, автор, дата издания, издательство, isbn, описание, ключевые слова/теги). Каждая строка должна содержать ссылку на страницу редактирования и добавления новой книги.
                </li>
                <li>
                    Поиск – поиск карточек по всем атрибутам(см. п. 1.)
                </li>
                <li>
                    Редактирование – строница содержащая поля ввода инофрмации о книге(см. п. 1.), кнопки:
                    <ul>
                        <li>Сохранить(обновить данные)</li>
                        <li>Отмена (отмена изменений и возвта)</li>
                    </ul>
                </li>
            </ol>
            <h4>Предусмотреть проверку корректности вводимых данных:</h4>
            <ol>
                <ul>Название – обязательное поле, произвольный текст длиной до 300 символов</ul>
                <ul>Автор – обязательное поле, произвольный текст длиной до 100 символов</ul>
                <ul>Дата издания – обязательное поле, 4 цифры</ul>
                <ul>Издательство – обязательное поле, произвольный текст, длиной до 100 символов</ul>
                <ul>Isbn – обязательное поле, текст формата “ISBN xxxxxxxxxxxxx“ (13 цифр, которые могут быть разделены дефисом)</ul>
                <ul>Описание – опциональное поле, текст длиной до 500 символов</ul>
                <ul>Ключевые слова/теги - опциональное поле, набор слов состоящих из русских и(или) английских слов, цифр, символа подчёркивания. Слова разделены пробелом, общая длина поля не должна превышать 150 символов</ul>
            </ol>
            <i><b>Замечание:</b> данная страница должна использоваться и как страница создания новой карточки о книге</i>
            <h1>Задание 6. Свободная задача</h1>
            Суть и функционал приложения вы придумываете сами
        </div>
    </div>
    <footer></footer>

</div>

</body>
</html>