<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FPMI 2rd course web tasks</title>
    <meta name="description"
          content="general information page for 2rd course of fpmi2013 site + links to education lectures, tasks, examples">

    <link rel="stylesheet" href="../../css/main.css" id="theme">
</head>

<body>

<div class="container">

    <header></header>

    <div class="content-wrapper">
        <nav id="top" class="clearfix">
            <ul id="menu">
                <li class="menu-item"><a href="info.html">Info</a>
                <li class="menu-item"><a href="lectures.html">Lectures</a>
                <li class="menu-item active"><a href="web-tasks.html">Web Tasks</a>
            </ul>
        </nav>
        <div class="content clearfix web-tasks">
            <h2>Указания/рекомендации для всех задач</h2>
            <ol>
                <li>В качестве сервера рекомендуется использовать <a target="_blank" href="http://ftp.byfly.by/pub/apache.org/tomcat/tomcat-8/v8.0.3/bin/apache-tomcat-8.0.3.zip">Tomcat 8</a></li>
                <li>Работу приложения продемонстрировать в любом из браузеров</li>
                <li>Задания содержат рекомендации к реализации программного обеспечения, студент может самостоятельно выбирать инструменты с помощью которых задание будет реализовано.</li>
            </ol>

            <h2>Общее Задание.  "Реализовать приложение для управления списком пользователей и их авторизацией"</h2>
            <p>Требуется создать web приложение(Serlvet/JSP) для управления списком пользователей с поддержкой авторизации пользователя средствами Basic Authentication | <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">1</a> | <a href="https://www.google.ru/#newwindow=1&q=basic+authentication+tomcat" target="_blank">2</a> |</p>
            <h3>Требования</h3>
            <p>Картинка описывает общие требования к пользовательскому интерфейсу</p>
            <p>ПО должно поддерживать два типа пользователей с соответствующими правами:</p>
            <ul>
                <li>администратор — может создавать, редактировать информацию и удалять пользователей</li>
                <li>пользователь — может просматривать таблицу пользователей. При попытке обращения к запрещенному функционалу пользователь должен попадать на страницу "Access Denied"</li>
            </ul>

            <span><b style="color: darkred;">Упрощенный вариант задания</b><i> - Задача может быть реализована без модуля авторизации, т.е. необходимо реализовать только редактирование списка пользователей, без разделения прав доступа и формы авторизации.</i></span>

            <img width="100%" src="/bsu-lectures/static/images/Implementation_Diagram_Mockup.jpg"/>

            <h3>Указания и рекомендации</h3>
            <p>На следующей диаграмме вы можете увидеть примерную структуру приложения. Это не требование, это рекомендация</p>
            <img src="/bsu-lectures/static/images/web_diagram.jpg" width="100%"/>

            <h3>Рекомендуемая последовательность выполнения задачи:</h3>

            <ol>
                <li>Сверстать необходимые страницы и реализовать проверку полей ввода данных. Инструменты для разработки – HTML, CSS, Javascript</li>
                <li>Создать структуру каталогов для веб приложения:</li>
                <li>Реализовать необходимые классы сервлетов и обеспечить переходы  между страницами</li>
                <li>Реализовать на страницах отображение динамических данных из Request Scope – список пользователей, единичный пользователь. Набор данных на данном этапе можно жестко предопределить в сервлетах.</li>
                <li>Реализовать сервисный класс UserService и класс доступа к данным UserDAO. Предопределенные данные перенести в DAO.</li>
                <li>Создать хранилище данных в памяти используя HashMap&lt;ID пользователя, ссылка на объект User&gt;. Предопределенные данные убрать.</li>
                <li>Создать хранилище данных в СУБД (MySQL, Postgres или любая другая) – таблица USER c колонками id (автоинкрементное поле), email, password, first_name, last_name, role</li>
                <li>В каталог Tomcat/lib подложить JDBC драйвера БД</li>
                <li>Переписать DAO с использованием JDBC для доступа к БД.</li>
                <li>Реализовать механизм авторизации пользователей определяемых в таблице БД средствами Tomcat. Реализовать разграничение прав доступа пользователей.</li>
            </ol>

            <p><a target="_blank" href="http://www.byteslounge.com/tutorials/jaas-form-based-authentication-in-tomcat-example">Пример конфигурации аутентификации через пользовательскую форму</a></p>
            <p><a target="_blank" href="http://www.byteslounge.com/tutorials/jaas-authentication-in-tomcat-example">примеры конфигурации модуля авторизации томката</a> (/META-INF/context.xml → Realm)</p>
            <p><a target="_blank" href="https://tomcat.apache.org/tomcat-7.0-doc/realm-howto.html">Пример настройки Realm на базу данных</a>: секция Standard Realm Implementations → JDBCRealm</p>

            <p>На следующей диаграмме последовательности вызовов описываются архитектурные слои приложения, на примере запроса и отображения списка пользователей.</p>
            <img src="/bsu-lectures/static/images/web-sequence-diagram.png" width="100%">

            <h3>Оценка</h3>
            <ol>
                <li>Приложение работает как указано в задании (1-6) — <b>1 балл</b></li>
                <li>Реализованы пункты 7-9 — <b>1..2 балла</b></li>
                <li>Реализован пукт 10 — <b>1 балл</b></li>
                <li>Ответы на вопросы по коду  <b>1..10 баллов</b></li>
            </ol>

            <b>Проходной балл 6 из 14</b>

            <h2>Задание 2.  "Контактная информация"</h2>
            <p>Добавить к <b>Заданию 1</b> возможность вводить контактную информацию пользователя.</p>
            <p><b>Администратор</b> может редактировать всех пользователей</p>
            <p><b>Обычный пользователь</b> может просматривать информацию других пользователей и редактировать только свою контактную информацию.</p>

            <img src="/bsu-lectures/static/images/advanced_task.jpg">

            <h3>Оценка</h3>
            <ol>
                <li>ПО работает как указано в задании <b>1..3 балла</b></li>
                <li>Использование СУБД (Postgres, MySQL, MS SQL и т.д.) данных <b>3 балла</b></li>
                <li>Ответы на вопросы по Tomcat <b>1..5 баллов</b></li>
                <li>Ответы на вопросы по СУБД <b>1..5 баллов</b></li>
            </ol>
            <b>Проходной балл 8 из 16</b>

            <h3>Защита по желанию</h3>
            <ul>
                <li>СУБД — SQL, DDL, способы повышения производительности, общие вопросы конфигурации СУБД software/hardware, пул соединений, транзакции, план выполнения запроса</li>
                <li>WEB-технологии - HTML, javascript, AJAX, способы повышения производительности веб-ориентированных приложений, JSP, Servlets, Filters, Listeners, настройки web.xml</li>
                <li>Tomcat сервер — файлы конфигурации, структура каталогов</li>
            </ul>

            <b>До 50 баллов</b>

            <b>При суммарном балле от 60 (задания + защита по желанию) рекомендация на «автомат» с максимальной оценкой + рекомендация на курсы с углубленным изучением технологий разработки программного обеспечения.</b>
        </div>
    </div>
    <footer></footer>

</div>

</body>
</html>