<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="cache-context.xml"/>
    <context:annotation-config/>
    <context:component-scan base-package="org.exadel.bsu.tasks.second.midtest"/>

    <context:property-placeholder properties-ref="properties"/>

    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages"/>
        <property name="defaultEncoding" value="${source.encoding}"/>
    </bean>

    <bean id="bookFiles" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>texts/james.gosling.txt</value>
                <value>texts/java.txt</value>
                <value>texts/java.script.txt</value>
                <value>texts/donatello.txt</value>
                <value>texts/leonardo.txt</value>
                <value>texts/michelangelo.txt</value>
                <value>texts/raphael.txt</value>
                <value>texts/settignano.txt</value>
                <value>texts/ie.txt</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="bookFilesForSorting" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>texts/p1.txt</value>
                <value>texts/p2.txt</value>
                <value>texts/p3.txt</value>
                <value>texts/p4.txt</value>
                <value>texts/p5.txt</value>
                <value>texts/p6.txt</value>
                <value>texts/p7.txt</value>
                <value>texts/p8.txt</value>
                <value>texts/p9.txt</value>
                <value>texts/p10.txt</value>
                <value>texts/p11.txt</value>
                <value>texts/p12.txt</value>
                <value>texts/p13.txt</value>
                <value>texts/p14.txt</value>
                <value>texts/p15.txt</value>
                <value>texts/p16.txt</value>
                <value>texts/p17.txt</value>
                <value>texts/p18.txt</value>
                <value>texts/p19.txt</value>
                <value>texts/p20.txt</value>
                <value>texts/p21.txt</value>
                <value>texts/p22.txt</value>
                <value>texts/p23.txt</value>
                <value>texts/p24.txt</value>
                <value>texts/p25.txt</value>
                <value>texts/p26.txt</value>
                <value>texts/p27.txt</value>
                <value>texts/p28.txt</value>
                <value>texts/p29.txt</value>
                <value>texts/p30.txt</value>
            </list>
        </constructor-arg>
    </bean>

</beans>