<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Задачи 3 курса по JavaSE</title>
    <meta name="author" content="Alex Poloz">
    <meta name="description" content="fpmi2013 exadel education lectures, tasks, examples">

</head>
<body>
<p>
<h1>Задача 1. Справочник сотрудников компании.</h1>
Cуществует файл в формате xml содержащий информацию о сотрудниках компании(Номер паспорта, Фамилия, Имя, Отчество, Адрес, Позиция в компании, Телефон, Семейный статус, Дата рождения). Размер файла неизвестен.</br>
Необходимо реализовать программу для поиска информации о сотруднике по его Ф.И.О.</br>
При решении данной задачи необходимо реализовать кэш формата (Ф.И.О -> Полная информация о сотруднике) в памяти размером неболее 100 записей и при переполнении кэша предусмотреть следующие настраиваемые стратегии удалении элементов из кэша: по наименьшему количеству обращений, по времени последнего обращения, в произвольном порядке.</br> 

Программа должна запускаться из командной строки и принимать два параметра: путь к файлу, номер стратегии. Необходимо предусмотреть валидацию XML файла по XSD. В случае, когда пользователь не ввел номер стратегии, программа должна вывести весь список доступных стратегий.</br>
Далее работа с приложением происходит в интерактивном режиме: на ввод пользователем Ф.И.О программа выдает его телефон. Поиск телефона программой происходит следующим образом: </br>
<ol>
<li>проверяется кэш, если данные найдеты, то пункт 6, иначе пункт 2</li>
<li>происходит поиск по файлу, если данные найдены в файле, то пункт 3, иначе пункт 7</li>
<li>если кэш переполнен, то пункт 4, иначе пункт 5</li>
<li>происходит удаление элемента из кэша, используя выбранную стратегию и переходим к пункту 5</li>
<li>информация записывается в кэш, и переходим к пункту 6</li>
<li>данные возвращаются пользователю</li>
<li>пользователю выводится сообщение, что информация не найдена.</li>
</ol>



P.S. Не обязательно, но можно 1) использовать предварительную обработку файла для ускорения поиска по файлу. 2) реализовать дополнительные стратегии очистки кэша. </br>

<h1>Задача 2.</h1>
Существует csv файла следующего формата: </br>
"""</br>
column_1, column_2, ..... , column_n</br>
some_value_11, some_value_12, ......, some_value_1n</br>
....</br>
some_value_m1, some_value_m2, ......, some_value_mn</br>

"""</br>
Необходимо реализовать программу, которую в интерактивном режиме по запросам от пользователя, следующего формата: </br>

select column_2, column_1,  ... column_k where column_p in/=/like ("column_value_11", "column_value_ps")</br>

возвращает все подходящие записи из файла. Программа должна запускаться из командной строки и принимать один параметр: путь к файлу. </br>

<h1>Задача 3.</h1>
Необходимо реализовать программу для редактирования csv файлов. Для работы с файлам существуют следующие команды:
<ol>
<li>:create &lt;file_name&gt; - позволяет пользователя через запятую ввести название колонок в файле. После нажание кнопки ввода, колонки сохраняются в файла и программа переходит в режим работы с файлом.</li>
<li>:show &lt;fileName&lt; - выводит на экран содержимое csv файла</li>
<li>:use fileName  - выбирает текущий файл для дальнейшего использования.</li>
</ol>
Команды доступные для работы с файлом и после выбора файла при помлщи команды :use.
<ol>
<li>:show columns - выводит имена всех колонок</li>
<li>:insert (column_1, ... , column_k) values (value_1,... value_k) - добавляет запись в конец csv файла.</li> 
<li>:sort by &lt;column_1, ..., column_p&gt; - сортирует содержимое текущего csv файла.</li> 
<li>:search by -f &lt;column_k&gt; -v &lt;some_value&gt; - выводит на экран все подходящие записи из текущего файла.</li>
<li>:remove where -f &lt;column_k&gt; -v &lt;some_value&gt; - удаляет из файла все удолетворяющие запросу записи.</li>
</ol>

<h1>Задача 4.</h1>
Написать программу для поиска анаграмм, которые можно составить из введенной пользователем фразы. При реализации программу стоит учитывать следующее:</br>
<ol>
<li>Анаграммы составляются без учета регистра.</li>
<li>Анаграммы с одинаковыми словами, но составленных в разной последовательности - являются двумя отличными анаграммами.</li>
<li>Программа использует текстовый файл(словарь) для поиска анаграмма. Текстовый файл содержит слова на английском языке.</li>
</ol>

</p>
</body>
</html>

