<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Программа 3 курса</title>
    <meta name="author" content="Alex Poloz">
    <meta name="description" content="fpmi2013 exadel education lectures, tasks, examples">

    <link rel="stylesheet" href="/css/main.css" id="theme">

</head>

<body>

<div class="container">

<div id="exadel-header"></div>

<div class="content-wrapper">
<nav id="main" class="clearfix">
<ul id="menu">
<!--
<li class="menu-item"><a href="#">Lectures</a>
-->
<li class="menu-item"><a href="extra_tasks.html">Java SE Tasks</a>
</ul>
</nav>
<div class="content clearfix">
</div>
</div>
</div>

</body>
</html>

