<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FPMI 3rd course</title>
    <meta name="description" content="general information page for 3rd course of fpmi2013 site + links to education lectures, tasks, examples">

    <link rel="stylesheet" href="../../css/main.css" id="theme">

</head>

<body>

<header></header>

<div class="container">
    <nav id="top" class="clearfix">
        <ul id="menu">
            <li class="menu-item active"><a href="">Info</a>
            <li class="menu-item"><a href="lectures.html">Lectures</a>
            <li class="menu-item"><a href="extra_tasks.html">SE Tasks</a>
        </ul>
    </nav>
    <div class="content clearfix">
        <div><strong>Contact email</strong>: fpmi2013.exadel@gmail.com </div>
    </div>
</div>

<footer></footer>

</body>
</html>

